*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #1d1d1f;
} */

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html:not([data-color-scheme]) {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html:not([data-color-scheme]) {
    background-color: white;
    color: black;
  }
}

html:not([data-color-scheme]) body {
  display: none;
}

html[data-color-scheme='light'] {
  background-color: white;
  color: black;
}
html[data-color-scheme='dark'] {
  background-color: black;
  color: white;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #e66702;
  --tomato: #f63e54;
  --magenta: #d71bce;
  --plum: #8d1287;
  --grape: #6529f8;
  --indigo: #622aff;
  --violet: #8876fe;
  --sapphire: #3d44c3;
  --midnight: #1b23b3;
  --azure: #027fff;
  --moonstone: #2294b1;
  --teal: #049cb7;
  --sea-green: #099b9d;
  --aqua: #039e8f;
  --green: #0c9d46;
  --forest: #0c8346;

  --color-fill-blue: #0071e3;
  --color-figure-blue: #06c;
  --color-button-background-active: var(--color-fill-blue);
  --color-button-background-hover: #0077ed;
}

/* --system-primary: #fffffff9;
  --system-secondary: #ffffffc1;
  --system-tertiary: #ffffff7b; */

[data-color-scheme='light'] {
  --dark: #000000;
  --light: #ffffff;
  --glyph-gray: #1d1d1f;
  --glyph-gray-override: ;
  --glyph-gray-secondary: #6e6e73;
  --glyph-gray-secondary-alt: #515154;
  --glyph-gray-tertiary: #86868b;
  --glyph-blue: #06c;
  --glyph-blue-override: ;
  --glyph-orange: ;
  --glyph-red: ;
  --glyph-green: ;
  --fill: #fff;
  --fill-override: #000;
  --fill-gray: ;
  --fill-blue: ;
  --fill-orange: ;
  --fill-red: ;
  --fill-green: ;
  --fill-yellow: ;
  --fill-secondary: #fbfbfd; /**/
  --fill-secondary-alt: #fafafa;
  --fill-secondary-alt-override: ;
  --fill-blue-secondary: ;
  --fill-gray-secondary: ;
  --fill-gray-secondary-alt: ;
  --color-fill-green-secondary: ;
  --color-fill-light-blue-secondary: ;
  --color-fill-light-gray-secondary: ;
  --color-fill-orange-secondary: ;
  --color-fill-purple-secondary: ;
  --color-fill-red-secondary: ;
  --color-fill-teal-secondary: ;
  --color-fill-yellow-secondary: ;
  --fill-tertiary: #f5f5f7;
  --fill-tertiary-alt: #f5f5f7;
  --fill-tertiary-override: ;
  --fill-blue-tertiary: ;
  --fill-gray-tertiary: ;
  --fill-gray-quaternary: ;
  --fill-gray-quinary: ;
  --fill-blue-gradient-light: ;
  --fill-blue-gradient-dark: ;
  --fill-gradient-gray-start: ;
  --fill-gradient-gray-end: ;
  --fill-table: ;
  --app-store-glyph-tile: ;
  --app-store-fill-tile: ;
  --applemusic: ;
  --toggle-color-background: ;
  --toggle-color-text: #ffffff;
  --color-button-background: ;
  --color-button-text: #ffffff;
  --color-figure-blue: ;
  --color-figure-gray: ;
  --color-figure-gray-secondary: ;
  --color-figure-gray-secondary-alt: ;
  --color-figure-gray-tertiary: ;
  --color-figure-green: ;
  --color-figure-light-blue: ;
  --color-figure-light-gray: ;
  --color-figure-orange: ;
  --color-figure-pink: ;
  --color-figure-purple: ;
  --color-figure-red: ;
  --color-figure-teal: ;
  --color-figure-yellow: ;
  --color-highlight-green: ;
  --color-highlight-red: ;
  --color-tutorials-teal: ;
  --color-aside-deprecated: ;
  --color-aside-deprecated-background: ;
  --color-aside-deprecated-border: ;
  --color-aside-experiment: ;
  --color-aside-experiment-background: ;
  --color-aside-experiment-border: ;
  --color-aside-important: ;
  --color-aside-important-background: ;
  --color-aside-important-border: ;
  --color-aside-note: ;
  --color-aside-note-background: ;
  --color-aside-note-border: ;
  --color-aside-tip: ;
  --color-aside-tip-background: ;
  --color-aside-tip-border: ;
  --color-aside-warning: ;
  --color-aside-warning-background: ;
  --color-aside-warning-border: ;

  --foreground-color: var(--fill-override);
  --background-color: var(--fill);
  --background-secondary-color: var(--fill-secondary-alt);
  --background-tertiary-color: var(--fill-tertiary);
  --label-primary-color: #1d1d1f;
  --label-secondary-color: #666666;
  --label-tertiary-color: #86868b;
  --separator-color: #d2d2d7;
  --separator-secondary-color: var(--fill-gray-quaternary);
  --link-color: var(--glyph-blue);
  --material-background-color: rgba(255, 255, 255, 0.72);
  --material-separator-color: rgba(0, 0, 0, 0.16);
  --material-filters: saturate(180%) blur(20px);
}

[data-color-scheme='dark'] {
  --dark: #000000;
  --light: #ffffff;
  --glyph-gray: #f5f5f7;
  --glyph-gray-override: #1d1d1f;
  --glyph-gray-secondary: #86868b;
  --glyph-gray-secondary-alt: #a1a1a6;
  --glyph-gray-tertiary: #6e6e73;
  --glyph-blue: #2997ff;
  --glyph-blue-override: #0066cc;
  --glyph-orange: #f56300;
  --glyph-red: #ff3037;
  --glyph-green: #03a10e;
  --fill: #000000;
  --fill-override: #ffffff;
  --fill-gray: #f5f5f7;
  --fill-blue: #0071e3;
  --fill-orange: #f56300;
  --fill-red: #ff3037;
  --fill-green: #03a10e;
  --fill-yellow: #ad8200;
  --fill-secondary: #161617;
  --fill-secondary-alt: #141414;
  --fill-secondary-alt-override: #fafafa;
  --fill-blue-secondary: #162b5b;
  --fill-gray-secondary: #6e6e73;
  --fill-gray-secondary-alt: #141414;
  --color-fill-green-secondary: #002b03;
  --color-fill-light-blue-secondary: #002a51;
  --color-fill-light-gray-secondary: #323232;
  --color-fill-orange-secondary: #290d00;
  --color-fill-purple-secondary: #190325;
  --color-fill-red-secondary: #300;
  --color-fill-teal-secondary: #002d2b;
  --color-fill-yellow-secondary: #2b2000;
  --fill-tertiary: #1d1d1f;
  --fill-tertiary-alt: #111;
  --fill-tertiary-override: #f5f5f7;
  --fill-blue-tertiary: #081021;
  --fill-gray-tertiary: #424245;
  --fill-gray-quaternary: #333336;
  --fill-gray-quinary: #222;
  --fill-blue-gradient-light: #0e3768;
  --fill-blue-gradient-dark: #07172a;
  --fill-gradient-gray-start: #161616;
  --fill-gradient-gray-end: #000000;
  --fill-table: #1d1d1f;
  --app-store-glyph-tile: #eeeeee;
  --app-store-fill-tile: #1f1f21;
  --applemusic: #ff2d55;
  --toggle-color-background: #1d1d1f;
  --toggle-color-text: #0071e3;
  --color-button-background: #0071e3;
  --color-button-text: #ffffff;
  --color-figure-blue: #2997ff;
  --color-figure-gray: #f5f5f7;
  --color-figure-gray-secondary: #86868b;
  --color-figure-gray-secondary-alt: #a1a1a6;
  --color-figure-gray-tertiary: #6e6e73;
  --color-figure-green: #03a10e;
  --color-figure-light-blue: #7dc1ff;
  --color-figure-light-gray: #9a9a9e;
  --color-figure-orange: #f56300;
  --color-figure-pink: #f14bf1;
  --color-figure-purple: #a95ed2;
  --color-figure-red: #ff3037;
  --color-figure-teal: #00c2bb;
  --color-figure-yellow: #936d00;
  --color-highlight-green: #e4fee6;
  --color-highlight-red: #f8dddd;
  --color-tutorials-teal: #38a39c;
  --color-aside-deprecated: var(--color-figure-orange);
  --color-aside-deprecated-background: var(--color-fill-orange-secondary);
  --color-aside-deprecated-border: var(--color-figure-orange);
  --color-aside-experiment: var(--color-figure-purple);
  --color-aside-experiment-background: var(--color-fill-purple-secondary);
  --color-aside-experiment-border: var(--color-figure-purple);
  --color-aside-important: var(--color-figure-yellow);
  --color-aside-important-background: var(--color-fill-yellow-secondary);
  --color-aside-important-border: var(--color-figure-yellow);
  --color-aside-note: var(--color-figure-light-gray);
  --color-aside-note-background: var(--color-fill-light-gray-secondary);
  --color-aside-note-border: var(--color-figure-light-gray);
  --color-aside-tip: var(--color-figure-teal);
  --color-aside-tip-background: var(--color-fill-teal-secondary);
  --color-aside-tip-border: var(--color-figure-teal);
  --color-aside-warning: var(--color-figure-red);
  --color-aside-warning-background: var(--color-fill-red-secondary);
  --color-aside-warning-border: var(--color-figure-red);

  /* UI Variables */
  --foreground-color: var(--fill-override);
  --background-color: var(--fill);
  --background-secondary-color: var(--fill-secondary-alt);
  --background-tertiary-color: #1d1d1f;
  --label-primary-color: #fffffff9;
  --label-secondary-color: #ffffffc1;
  --label-tertiary-color: #ffffff7b;
  --separator-color: var(--fill-gray-tertiary);
  --separator-secondary-color: var(--fill-gray-quaternary);
  --link-color: var(--glyph-blue);
  --material-background-color: rgba(29, 29, 31, 0.72);
  --material-separator-color: rgba(255, 255, 255, 0.24);
  --material-filters: saturate(180%) blur(20px);
}

#__next {
  display: contents;
}

main {
  background: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--fill-gray-secondary-alt) 100%
  );
  min-height: calc(100vh - 168px);
}

main a {
  color: var(--glyph-blue);
}
