@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-gradient {
  background-image: url("/bg-gradient.jpg");
}

.screen {
  transition: opacity 1.3s linear .8s,transform .7s cubic-bezier(.24,.77,.48,.94) .8s;
  animation: animationScreen 5s;
}

@keyframes animationScreen {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}
